/* +++ CHANGE COLOR PALETTE +++ */
/* old: https://coolors.co/211103-3d1308-7b0d1e-9f2042-f8e5ee */
/* new: https://coolors.co/2b2d42-8d99ae-f02800-f05028-edf2f4 */
/* thereaddown template: https://github.com/juba/rmdformats/blob/master/inst/templates/readthedown/readthedown.css */

/* color definitions */
:root{
    --main2: #f02800;
    --main1: #f05028; 
    --neutral: #edf2f4;
    --compl1: #2b2d42;
    --compl2: #8d99ae; 
} 

/* (1) from #211103 to --compl1 */
#table-of-contents{
    background: #2b2d42;
}

#postamble{
    border-top:solid 10px #2b2d42;
}


/* (2) from #3d1308 to --compl2 */
a:hover{
    color: #8d99ae;
}

a:visited{
    color: #8d99ae;
}


/* (3) from #7b0d1e to --main1 */
a {
    color: #f05028;
}



/* (4) from #9F2042 to --main2 */
#main .nav-pills > li > a:hover {
    background-color: #f02800;
}
  
#main .nav-pills > li.active > a,
#main .nav-pills > li.active > a:hover,
#main .nav-pills > li.active > a:focus {
    background-color: #f02800;
}

h1,h2,h3,h4,h5,h6,legend{
    color:#f02800;
}

#nav-top span.glyphicon {
    color: #f02800;
}

#table-of-contents header{
    color: #f02800;
    background-color:  #f02800;
}

#sidebar h2{
    background-color:  #f02800;
}


/* (5) from #f8e5ee to --neutral */
#postamble .date {
    color: #edf2f4;
}


/* (6) Further replacements */
#main a {
    background-image: linear-gradient(180deg,#f02800,#f02800);
    color:#f02800; /* was #c7254e */

}